<ul>
  {{#each}}
    <li>
      {{#link-to 'token' this}}
      {{domain}}/{{path}}
      {{/link-to}}
      <small>currently goes to</small> <a {{bind-attr href=href}}>{{activeTarget}}</a>
    </li>
  {{else}}
    <li>No tokens found.</li>
  {{/each}}
</ul>

{{#link-to 'tokens.new'}}New token{{/link-to}}
