<div class="btn-group">
  <label {{bind-attr class="defaultDomain:active :btn btn-default"}}>
    {{radio-button value='default' checked=domainType}} default
  </label>
  <label {{bind-attr class="userDomain:active :btn btn-default"}}>
    {{radio-button value='user' checked=domainType}} user
  </label>
</div>

{{#em-form form_layout="horizontal" model=model submit_button=false}}
  {{#if isDefaultDomain}}
  <i>use one of our domains</i>
    {{em-select
      label="Domain"
      property="domain"
      content=defaultDomainOptions
      optionValuePath="content.id"
      optionLabelPath="content.id"
      prompt="--select--"}}
  {{/if}}
  {{#if isUserDomain}}
    <i>use your own domain</i>
    {{em-input label="Enter domain" property="domain"}}
    {{#if userHasDomains}}
      {{em-select
        label="or use a previous domain"
        property="domain"
        content=userDomainOptions
        optionValuePath="content.id"
        optionLabelPath="content.id"
        prompt="--select--"}}
      {{/if}}
  {{/if}}

  {{em-input label="Path" property="path"}}

  {{#if canCheckAvailability}}
    {{#if checkingAvailability}}
      Checking...
    {{/if}}
    {{#if isAvailable}}
      Token is available
    {{/if}}
    {{#if isTaken}}
      Token is already taken
    {{/if}}
    {{#if isTakenByUser}}
      You already own {{#link-to 'token' model}}this token{{/link-to}}
    {{/if}}
  {{else}}
    Choose a domain and path
  {{/if}}

  <div class="form-actions">
    <input {{bind-attr disabled=isntAvailable}} type="submit" class="btn btn-primary">
  </div>
{{/em-form}}
