<h2>Create token</h2>

<div class="btn-group">
  <h3>What type of domain?</h3>
  <label class="btn btn-default">
    {{radio-button value='default' checked=domainType}} Use one of our domains
  </label>
  <label class="btn btn-default">
    {{radio-button value='new' checked=domainType}} Set up a new domain
  </label>
  <label class="btn btn-default">
    {{radio-button value='user' checked=domainType}} Use an existing domain
  </label>
</div>

{{#em-form model=model submit_button=false}}
<h3>Settings</h3>
<div class="form-group">

  {{#if isDefaultDomain}}
  {{em-select label="Select domain" property="domain" prompt="--select--"
  content=defaultDomainOptions optionValuePath="content.id" optionLabelPath="content.id"}}
  {{/if}}

  {{#if isNewDomain}}
  <p>Domain set up information here</p>
  {{em-input label="Enter domain" property="domain"}}
  {{/if}}

  {{#if isUserDomain}}
  {{em-select label="Select domain" property="domain" prompt="--select--"
  content=userDomainOptions optionValuePath="content.id" optionLabelPath="content.id"}}
  {{/if}}

</div>
<div class="form-group">
  {{em-input label="Path" property="path"}}
</div>

<h3>Next step</h3>
<div class="form-actions">
  <div class="col-md-6">
    {{#if canCheckAvailability}}
    <a>http://{{model.href}}</a>
    {{else}}
    Choose a domain and path
    {{/if}}
  </div>
  <div class="col-md-6">
    {{#if canCheckAvailability}}
    {{#if checkingAvailability}}
    Checking...
    {{/if}}
    {{#if isAvailable}}
    {{#if isDefaultDomain}}
    <input {{bind-attr disabled=isntAvailable}} type="submit" class="btn btn-primary" value="Claim">
    {{else}}
    <input {{bind-attr disabled=isntAvailable}} type="submit" class="btn btn-primary" value="Setup">
    {{/if}}
    {{/if}}
    {{#if isTaken}}
    Token is already taken
    {{/if}}
    {{#if isTakenByUser}}
    {{#link-to 'token' model}}<input type="submit" class="btn btn-primary" value="Edit">{{/link-to}}
    {{/if}}
    {{else}}
    &nbsp;
    {{/if}}
  </div>
</div>
{{/em-form}}
