{{#if session.isAuthenticated}}
<a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
<form {{action 'authenticate' on='submit'}}>
  {{input value=identification placeholder='Enter Login'}}
  <br/>
  {{input value=password placeholder='Enter Password' type='password'}}
  <br/>
  <button type="submit">Login</button>
</form>
{{/if}}
