<h2>
  <small>token</small> {{id}} <small>currently goes to</small> <a {{bind-attr href=href}}>{{activeTarget}}</a>
</h2>

{{#link-to 'translations'}}
translations
{{/link-to}}

{{outlet}}

<button {{action "save"}}>Save</button>
