<h2>
  <small>path</small> {{path}} <small>on</small> {{domain}} <small>goes to</small> <a {{bind-attr href=href}}>{{activeTarget}}</a>
</h2>

{{#link-to 'translations'}}
translations
{{/link-to}}

{{outlet}}

<button {{action "save"}}>Save</button>
