<tr class="translation">
  <td>
    {{view 'select' content=ruleTypes value=newRuleType prompt="Rule type.."}}
  </td>
  <td>
    {{#if hasRule}}
    {{#with model.rule}}
    {{partial type}}
    {{/with}}
    {{else}}
    {{fa-icon "arrow-left"}}<i>choose a rule type!</i>
    {{/if}}
  </td>
  <td>
    {{input value=model.target placeholder='www.example.com'}}
  </td>
  <td class="actions">
    {{partial actionsPartial}}
  </td>
  <td {{bind-attr class="rule.active:active:inactive"}}>
    {{#if rule.active}}
    {{fa-icon "check"}}
    {{else}}
    {{fa-icon "times"}}
    {{/if}}
  </td>
</tr>
