<table border=1>
  {{#each translation in controller}}
  <tr>
    <td>
      {{#if translation.hasRule}}
        <button {{action 'changeRule' translation}}>change rule...</button>
        {{#with translation.rule}}
        {{partial type}}
        {{/with}}
      {{else}}
        <button {{action 'addRule' 'always'}}>always</button>
        <button {{action 'addRule' 'period'}}>period</button>
      {{/if}}
    </td>
    <td>
      {{input value=translation.targetURL}}
    </td>
    <td>
      {{translation.active}}
    </td>
    <td>
      <button {{action 'up' translation.priority}}>{{fa-icon "arrow-up"}}</button>
      <button {{action 'down' translation.priority}}>{{fa-icon "arrow-down"}}</button>
    </td>
  </tr>
  {{/each}}

{{outlet}}

</table>

{{#link-to 'translations.new'}}New translation{{/link-to}}
