<tr class="translation">
  <td>
    {{#if hasRule}}
    {{rule.type}}
    <button {{action 'changeRule'}}>change</button>
    {{else}}
    <button {{action 'addRule' 'always'}}>always</button>
    <button {{action 'addRule' 'period'}}>period</button>
    {{/if}}
  </td>
  <td>
    {{#if hasRule}}
    {{#with model.rule}}
    {{partial type}}
    {{/with}}
    {{else}}
    {{fa-icon "arrow-left"}}<i>choose a rule type!</i>
    {{/if}}
  </td>
  <td>
    {{input value=model.target placeholder='www.example.com'}}
  </td>
  <td>
    <i>n/a</i>
  </td>
  <td>
    {{partial actionsPartial}}
  </td>
</tr>
