<table border=1>
  {{#each translation in controller}}
  <tr>
    <td>
      {{#with translation.rule}}
      {{partial type}}
      {{/with}}
    </td>
    <td>
      {{translation.targetURL}}
    </td>
    <td>
      {{translation.active}}
    </td>
    <td>
      <button {{action 'up' translation.priority}}>{{fa-icon "arrow-up"}}</button>
      <button {{action 'down' translation.priority}}>{{fa-icon "arrow-down"}}</button>
    </td>
  </tr>
  {{/each}}

{{outlet}}

</table>

{{#link-to 'translations.new'}}New translation{{/link-to}}
